/* ---------------------------
            RESET
--------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {font-family: Verdana, Geneva, Tahoma, sans-serif;}

/* ---------------------------
        STYLE CONTENT
--------------------------- */
/* HEADER • MENÙ */
.menu-fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
li {list-style-type: none;}
a {text-decoration: none;}

.gender {
    color: white;
    font-size: 13px;
}

li {display: inline-block;}

.logo{text-align: center;}

img.logo-img {width: 50%;}

.header-icons{
    width: 5%;

    filter: invert(100%);
}

/* MAIN • CARD */
.images {position: relative;}
.card img {width: 100%;}

.hover-img {display: none;}

.card:hover .hover-img {display: inline-block;}
.card:hover .defoult-img {display: none;}

.discount {
    position: absolute;
    left: 5px;
    bottom: 25px;
    font-size: 13px;
}

/* DISCOUNT */
.percent {
    background-color: rgb(237, 58, 52);
    color: white;
    padding: 3px;
}

.tenability {
    background-color: rgb(57, 130, 29);
    color: white;
    padding: 3px;
    margin-right: 3px;
}

/* CUORICINO */
.heart {
    position: absolute;
    right: 0;
    top: 25px;
    font-size: 25px;
    background-color: white;
    padding: 3px 10px;
}

.heart:hover {color: red;}

/* TESTO CARD */
.text {margin-bottom: 50px;}
.brand {
    font-size: 12px;
}

.new-price, .old-price {
    font-size: 12px;
}

.new-price {
    font-weight: 600;
    color: rgb(237, 58, 52);
}

.old-price {text-decoration: line-through;}

/* FOOTER */
.footer {
    color: white;
    height: 100px;
    background-color: rgb(26, 26, 26);
    border-top: 2px solid rgb(237, 58, 52);
}

.footer a {
    margin-right: 10px;
    font-size: 12px;
    color: white;
}

.footer-icons {
    width: 5%;
    filter: invert(100%);
    margin-top: 10px;
}

/* ---------------------------
        UTILITY • LAYOUT
--------------------------- */
.container-full {width: 100%;}

.container {
    width: 990px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.gap {gap: 10px;}

.coll-50 {width: calc(50% - 10px);}

.coll-33 {width: calc(100% / 3 - 10px);}


/* ---------------------------
            UTILITY 
--------------------------- */
.display-ib {display: inline-block;}

.jc-center {justify-content: center;}
.jc-between {justify-content: space-between;}
.ai-center {align-items: center;}

.my-10 {margin: 10px 0;}
.my-25 {margin: 25px 0;}
.my-35 {margin: 35px 0;}
.my-50 {margin: 50px 0;}
.mt-120 {margin-top: 120px;}

.mx-10 {margin: 0 10px;}
.mx-25 {margin: 0 25px;}
.mx-35 {margin: 0 35px;}

.py-10 {padding: 10px 0;}
.py-15 {padding: 15px 0;}
.py-25 {padding: 25px 0;}
.py-35 {padding: 35px 0;}

.px-10 {padding: 0 10px;}
.px-25 {padding: 0 25px;}
.px-35 {padding: 0 35px;}

.ht-50 {height: 50px;}

.ta-center {text-align: center;}
.ta-right {text-align: right;}
.ta-left {text-align: left;}

/* ---------------------------
      BACKGROUND & COLOR
--------------------------- */
.bg-header {background-color: rgb(240, 104, 55);}
.bg-footer {background-color: rgb(26, 26, 26);}

